html {
   box-sizing: border-box;
   font-size: 100%;
}

*,
*::after,
*::before {
   box-sizing: inherit;
   font-family: Arial, Helvetica, sans-serif;
   padding: 0;
   margin: 0;
}

body {
   background-color: hsl(175, 77%, 26%);
   color: white;
   width: 100vh;
   transition: all 300ms ease-in-out;
}

.main {
   display: flex;
   margin-top: 124px;
   border: thin solid;
   width: 1033px;
   justify-content: space-between;
}
